/* Styles for the input container */
.input {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
}

/* Styles for the input box */
.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px #2b2192; /* Adds inner shadow effect */
}

/* Styles for the input box when it is focused */
.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.4); /* Adds outer shadow effect when focused */
    outline: none; /* Removes default focus outline */
}

/* Styles for the submit button */
.input__submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black; /* Adds shadow effect */
}

/* Styles for the submit button on hover */
.input__submit:hover {
    background-color: #388ae2; /* Changes background color on hover */
}

/* Styles for the submit button when clicked */
.input__submit:active {
    transform: scale(0.8); /* Scales down the button when clicked */
    box-shadow: 0 0 5px black; /* Adds a smaller shadow effect */
}
