/* Importing a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* Styles for the main application container */
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #0e6372f5, #dff9fb); /* Background gradient */
    font-family: "Neucha", cursive; /* Setting font family */
}

/* Styles for the heading element */
.heading {
    text-transform: uppercase; /* Makes text uppercase */
    font-size: 40px;
    margin: 30px 0; /* Adds margin */
    color: white; /* Sets text color */
    z-index: 1; /* Sets z-index to control stacking order */
    text-align: center; /* Centers text */
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .heading {
        margin: 15px 0; /* Adjusts margin for smaller screens */
        font-size: 35px; /* Adjusts font size for smaller screens */
    }
}
